@{
    ViewData["Title"] = "Admin";
}
@{
    var firstName = Context.Session.GetString("FirstName");
    var lastName = Context.Session.GetString("LastName");
    var userId = Context.Session.GetString("UserId");
    var avatar = Context.Session.GetString("Avatar");
}
<style>
    th {
        font-weight: 500;
        font-size: 1.25rem !important;
        padding: 1rem 1rem !important;
        background-color: #F8F9FC !important;
    }

    .table thead > tr > th {
        border-bottom-color: #ced4da !important;
    }

    .table tbody > tr > td {
        padding-left: 1rem !important;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    .table {
        margin-bottom: 0 !important;
    }
</style>

<main class="d-lg-flex">
    <div class="overlay position-absolute d-none"></div>
    <aside class="sidebar px-4 py-3 text-white d-flex flex-column gap-1 overflow-auto">
        <div class="d-flex justify-content-between mb-2">
            <span>NAVIGATION</span>
            <button type="button" class="btn-close d-lg-none bg-white" aria-label="Close"></button>
        </div>
        <div data-item="user" class="d-flex gap-3 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/person-white.svg" alt="user" height="20px" width="20px">
            User
        </div>
        <div data-item="cms" class="d-flex gap-3 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/file-earmark-text-white.svg" alt="user" height="20px" width="20px">
            CMS Page
        </div>
        <div data-item="mission" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/bullseye-white.svg" alt="user" height="20px" width="20px">
            Mission
        </div>
        <div data-item="theme" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/puzzle-white.svg" alt="user" height="20px" width="20px">
            Mission Theme
        </div>
        <div data-item="application" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/ticket-white.svg" alt="user" height="20px" width="20px">
            Mission Application
        </div>
        <div data-item="timesheet" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/hourglass-top-white.svg" alt="user" height="20px" width="20px">
            Mission Timesheet
        </div>
        <div data-item="skill" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/tools-white.svg" alt="user" height="20px" width="20px">
            Skill
        </div>
        <div data-item="story" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/bookmark-star-white.svg" alt="user" height="20px" width="20px">
            Story
        </div>
        <div data-item="banner" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/image-white.svg" alt="user" height="20px" width="20px">
            Banner Management
        </div>
        <div data-item="contact" class="d-flex gap-2 align-items-center p-3 rounded-1 cursor-pointer">
            <img src="/images/static/chat-dots-white.svg" alt="user" height="20px" width="20px">
            Contact Us
        </div>
    </aside>
    <div class="flex-grow-1 admin-right">
        <nav class="d-flex justify-content-between align-items-center py-1 px-3 shadow-sm">
            <div class="d-flex gap-3 align-items-center">
                <img src="/images/static/list.png" alt="list" class="hamburger d-lg-none cursor-pointer">
                <span id="currentTime" class="color-darkgray text-15"></span>
            </div>
            <div class="dropdown flex-shrink-0">
                <button class="btn dropdown-toggle d-flex align-items-center gap-2 color-darkgray fw-light"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src='/images/static/user-img.png' alt="profile" class="rounded-circle object-fit-cover"
                         width="40px" height="40px">
                    <span class="d-none d-md-inline">@firstName @lastName</span>
                    <img src="/images/static/drop-down.png" alt="drop-down">
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-md-start">
                    <li>
                        <a class="dropdown-item" id="myprofileBtn" asp-action="AdminProfile" asp-controller="Home"
                           asp-route-userId="@userId">My Profile</a>
                    </li>
                    <li><a id="logoutBtn" class="dropdown-item">Logout</a></li>
                </ul>
            </div>
        </nav>
        <section class="py-4 px-3" id="partialAdminPageContainer"></section>
    </div>
</main>
<div id="partialModalContainer"></div>

@section Scripts{
<script src="~/js/sweetAlerts.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/admin.js"></script>
}