@{
    ViewData["Title"] = "Forgot Password";
}
<main class="d-flex flex-column flex-lg-row">
    <partial name="_HeroSectionCarousel"></partial>
    <section class="right-section d-flex flex-column gap-3 justify-content-center align-items-center p-5 p-lg-5">
        <div class="color-darkgray forgot-password-title">Forgot Password</div>
        <div class="color-darkgray fw-light text-14 forgot-password-description text-center">Enter your email address
            you've using for your account below and we will send you a password reset link</div>
        <form class="d-grid gap-4 mt-2">
            <div>
                <label for="email" class="fw-light">Email Address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter your email address...">
            </div>
            <button type="submit" class="btn button w-100 bg-white">Reset my Password</button>
        </form>
        <a asp-controller="User" asp-action="Login" class="fw-light text-14 color-darkgray">Login</a>
        <a href="#" class="fw-light color-darkgray privacy-policy text-14">Privacy Policy</a>
    </section>
</main>