@model IEnumerable<BannerVM>
@{
    ViewData["Title"] = "Forgot Password";
}
<main class="d-flex flex-column flex-lg-row">
    <partial name="_HeroSectionCarousel"></partial>
    <section class="right-section d-flex flex-column gap-3 justify-content-center align-items-center p-5 p-lg-5">
        <div class="color-darkgray forgot-password-title">Forgot Password</div>
        <div class="color-darkgray fw-light text-14 text-center">Enter your email address
            you've using for your account below and we will send you a password reset link</div>
        <form method="post" asp-route="ForgotPasswordPost" class="d-grid gap-4 mt-2" id="ForgotPasswordForm">
            <div>
                <label for="Email" class="fw-light">Email Address</label>
                <input type="email" class="form-control" name="email" id="Email" placeholder="Enter your email address..." autofocus>
                <span id="EmailError" class="text-danger text-14"></span>
                <span class="invalid-email text-danger text-14">@TempData["Error"]</span>
                <span class="text-success text-14">@TempData["Success"]</span>
            </div>
            <button type="submit" class="btn button w-100 bg-white">Reset my Password</button>
        </form>
        <a asp-controller="User" asp-action="Login" class="fw-light text-14 color-darkgray">Login</a>
        <a asp-action="Privacy" class="fw-light color-darkgray privacy-policy text-14">Privacy Policy</a>
    </section>
</main>

@section Scripts{
    <script>
        const Email = document.querySelector("#Email");
        const ForgotPasswordForm = document.querySelector("#ForgotPasswordForm");
        const invalidEmail = document.querySelector(".invalid-email");
        const EmailError = document.querySelector("#EmailError");
        let regex = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,4})+$/
        Email.addEventListener('input', () => {
            invalidEmail.textContent = '';
            if(regex.test(Email.value) == false){
                EmailError.textContent = "Invalid Email input."
            }
            else
                EmailError.textContent = '';
        })
        ForgotPasswordForm.addEventListener('submit', (e)=>{
            e.preventDefault();
            if(Email.value == null || Email.value == ''){
                EmailError.textContent = "The Email filed is required.";
                return false;
            };
            if(regex.test(Email.value) == false){
                EmailError.textContent = "Invalid Email input."
                return false;
            }
            ForgotPasswordForm.submit();
        }
        )
    </script>
}