@model UserVM;
@{
    ViewData["Title"] = "Registration";
}

<main class="d-flex flex-column flex-lg-row">
    <partial name="_HeroSectionCarousel"></partial>
    <section
        class="right-section d-flex flex-column gap-3 gap-lg-1 gap-xxl-3 justify-content-center align-items-center p-5 p-lg-0 mb-lg-4">
        <form method="post" asp-action="Registration" class="d-grid gap-3 gap-lg-1 gap-xxl-3" id="RegistrationForm">
            <div>
                <label asp-for="FirstName" class="fw-light"></label>
                <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter your first name">
                <span asp-validation-for="FirstName" class="text-danger text-13"></span>
            </div>
            <div>
                <label asp-for="LastName" class="fw-light"></label>
                <input type="text" asp-for="LastName" class="form-control" placeholder="Enter your last name">
                <span asp-validation-for="LastName" class="text-danger text-13"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber" class="fw-light"></label>
                <input type="tel" asp-for="PhoneNumber" class="form-control" placeholder="Enter your phone number">
                <span asp-validation-for="PhoneNumber" class="text-danger text-13"></span>
            </div>
            <div>
                <label asp-for="Email" class="fw-light"></label>
                <input type="email" asp-for="Email" class="form-control" placeholder="Enter your email address">
                <span asp-validation-for="Email" class="text-danger text-13"></span>
            </div>
            <div>
                <label asp-for="Password" class="fw-light">Password</label>
                <input type="password" asp-for="Password" class="form-control">
                <span asp-validation-for="Password" id="Password" class="text-danger text-13"></span>
            </div>
            <div>
                <label for="ConfirmPassword" class="fw-light">Confirm Password</label>
                <input type="password" class="form-control" id="ConfirmPassword">
                <span id="ConfirmPasswordError" class="text-danger text-13"></span>
            </div>
            <button type="submit" class="btn button w-100 bg-white mt-1">Register</button>
        </form>
        <a asp-controller="User" asp-action="ForgotPassword" class="fw-light color-darkgray text-14">Lost your
            password?</a>
        <div class="fw-light text-14 color-darkgray">Already Registered? <a asp-controller="User" asp-action="Login"
                class="color-blue">Login now</a></div>
        <a href="#" class="fw-light color-darkgray privacy-policy text-14">Privacy Policy</a>
    </section>
</main>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}
<script>
    const ConfirmPassword = document.querySelector("#ConfirmPassword");
    const Password = document.querySelector("#Passwrod");
    const ConfirmPasswordError = document.querySelector("#ConfirmPasswordError");

    ConfirmPassword.addEventListener('change', ()=>{
        if(Password.value != ConfirmPassword.value)
            ConfirmPasswordError.textContent = "Confirm password must be same as password."
        else
            ConfirmPasswordError.textContent = '';
    })

</script>