@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
}

:root {
    --light-orange: #f88634;
    --dark-gray: #414141;
    --blue: #2b64b1;
    --transition: all 0.3s ease-out;
}

.object-fit-cover {
    object-fit: cover;
}

img {
    display: block;
    max-width: 100%;
}

.w-80 {
    width: 80%;
}

.z-index-10 {
    z-index: 10;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
}

    a:hover {
        color: var(--blue);
    }

.flex-basis-100 {
    flex-basis: 100%;
}

.color-blue {
    color: var(--blue);
}

.color-darkgray {
    color: var(--dark-gray);
}

.cursor-pointer {
    cursor: pointer;
}

.text-15 {
    font-size: 15px;
}

.text-14 {
    font-size: 14px !important;
}

.text-13 {
    font-size: 13px;
}

.top-10 {
    top: 10px;
}

.width-max-conatent {
    width: max-content;
}

.border-dashed {
    border-style: dashed !important;
}

form input {
    color: var(--dark-gray) !important;
}

.mb-n2 {
    margin-bottom: -2rem;
}

.mt-n2 {
    margin-top: -2rem;
}

.mt-n1 {
    margin-top: -1rem;
}

.-translate-middle-y {
    transform: translateY(50%);
}

.bg-light-orange {
    background-color: var(--light-orange);
}

.row-gap-1 {
    row-gap: 1rem;
}

.row-gap-05 {
    row-gap: 0.5rem;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

form input:focus {
    border-color: var(--blue) !important;
    box-shadow: none !important;
}

.button {
    border: 2px solid var(--light-orange);
    font-size: 17px;
    border-radius: 50rem;
    color: var(--light-orange);
}

    .button:hover {
        color: var(--light-orange) !important;
        background-color: rgb(231, 231, 231) !important;
        transition: var(--transition);
        box-shadow: 0 5px 5px darkgray;
    }

.button-dark {
    border: 2px solid #757575;
    font-size: 17px;
    border-radius: 50rem;
    color: #757575;
}

    .button-dark:hover {
        color: black;
        box-shadow: 0 5px 5px darkgray;
    }
/* login page css */
.password-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px;
}
.carousel {
    height: 70vh;
}

.carousel-caption {
    text-align: left;
    left: 0;
    padding: 2rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .carousel-caption > h5 {
        font-size: 43px;
    }

    .carousel-overlay {
        position: absolute;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        inset: 0;
    }
}

@media (min-width: 992px) {
    .carousel {
        height: 100vh;
        width: 70vw;
    }

    .right-section {
        width: 30vw;
    }
}

@media (min-width: 1200px) {
    .carousel-caption > h5 {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .privacy-policy {
        position: fixed;
        bottom: 10px;
    }
}

/* forgot password page */
.forgot-password-title {
    font-size: 22px;
}

/* registration page */
@media(min-width:992px) and (max-width:1400px) {
    #RegistrationForm label {
        font-size: 13px !important;
    }

    #RegistrationForm input {
        font-size: 13px !important;
    }
}

/* index page */
.grid-body {
    grid-template-rows: auto 1fr auto;
}

.dropdown-toggle::after {
    display: none;
}

.index-header-section {
    position: relative;
    z-index: 100;
}

.filter-menu {
    position: fixed;
    transform: translateY(-300%);
}

.show-filter-menu {
    position: static;
    transform: translateY(0);
    transition: var(--transition);
}

@media (min-width: 768px) {
    .filter-menu {
        position: static;
        transform: translateY(0);
    }

    .filter-item {
        max-width: 10rem;
    }
}

.dropdown-menu > li {
    cursor: pointer;
}

#Search {
    border: none;
}

.index-top-title {
    font-size: 23px;
}

@media (min-width: 768px) {
    .index-top-title {
        font-size: 28px;
    }
}

.active-index-view {
    background-color: rgb(240, 240, 240);
}

.ellipsis-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis-7 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.card-top {
    height: 220px;
}

.card > .row {
    height: 200px;
}

.index-grid-view .col {
    max-width: 440px !important;
    margin-inline: auto;
}

.index-wishlist {
    bottom: 50px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.index-invite {
    bottom: 10px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.index-city {
    right: 15px;
    top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .index-list-view {
        display: none !important;
    }

    .index-grid-view {
        display: flex !important;
    }
}

.active-page {
    background-color: var(--light-orange);
    border-color: transparent !important;
    color: white;
}

[data-page]:hover {
    background-color: var(--light-orange);
    color: white;
}
/* mission page */
.mp-top > div {
    flex-basis: 100%;
}

.mp-small-images > img {
    height: 120px;
    width: 175px;
}

.mp-small-images::-webkit-scrollbar {
    display: none;
}

.mp-small-images {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .mp-small-images div {
        background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
    }

.mp-tab1,
.mp-tab2,
.mp-tab3 {
    color: #757575;
}

    .mp-tab1:focus,
    .mp-tab2:focus,
    .mp-tab3:focus {
        box-shadow: none;
    }

.mp-tab-active {
    border-bottom: 2px solid var(--dark-gray);
    color: var(--dark-gray);
}

.mp-comments-section {
    max-height: 25rem;
}

#storyImage, #missionImage {
    max-height: 380px;
}
/* story list page */
.sl-top {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/static/Grow-Trees-On-the-path-to-environment-sustainability-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    height: 18rem;
}

.sl-story-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    inset: 0;
}

@media(min-width:768px) {
    .sl-top > div {
        width: 75%;
    }
}

@media(min-width:992px) {
    .sl-top > div {
        width: 50%;
    }
}

@media(hover:hover) {
    .sl-view-btn {
        display: none !important;
    }

    .sl-card:hover .sl-story-overlay {
        display: flex !important;
    }
}

/* my profile page */
.profile-top {
    width: 330px;
}

.active-skill {
    background-color: rgb(224, 224, 224);
}

.skillBtn:hover {
    background-color: lightgray;
}

.top-titles {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .top-titles {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .top-titles {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .spy {
        max-width: 300px;
    }
}

.active-navitem {
    color: var(--light-orange) !important;
}

.active-privacy {
    color: var(--dark-gray) !important;
    font-weight: 500;
}
.nav-overlay {
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1021;
}

.nav-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1022;
    transition: 0.2s all linear;
}


@media(min-width: 1400px) {
    .nav-sidebar {
        width: 330px;
    }
}

@media(min-width: 768px) {
    .nav-sidebar {
        transform: translateX(0);
        position: static;
        height: auto;
        width: 285px;
    }
}

@media(min-width: 992px) {
    .nav-sidebar {
        width: 300px;
    }
}

.nav-sidebar-open {
    transform: translateX(0);
    transition: 0.3s all linear;
}
/*admin css*/
.sidebar {
    width: 270px;
    min-height: 100vh;
    max-height: 100% !important;
    position: fixed;
    transform: translateX(-100%);
    z-index: 4;
    background-color: var(--light-orange);
    transition: 0.2s all linear;
}

@media(min-width: 1400px) {
    .sidebar {
        width: 330px;
    }
}
@media(min-width: 768px) {
    .sidebar {
        width: 285px;
    }
}
@media(min-width: 992px) {
    .sidebar {
        position: static;
        transform: translateX(0);
        width: 300px;
    }

    .overlay {
        display: none;
    }
}

.sidebar-open {
    transform: translateX(0);
    transition: 0.3s all linear;
}

[data-item]:hover {
    border: 1px solid white;
}

.active-sidebar-item {
    background-color: white;
    color: var(--light-orange) !important;
}

.overlay {
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 3;
}

.adminSearchContainer {
    max-width: 28rem !important;
}
#adminSearch:focus, #Search:focus {
    outline-color: transparent !important;
    box-shadow: none !important;
}

.PENDING {
    color: #007bff;
}

.APPROVED {
    color: #28a745;
}

.DECLINED {
    color: #dc3545;
}

.button-plain {
    border: 2px solid var(--light-orange);
    font-size: 17px;
    border-radius: 50rem;
    color: var(--light-orange);
}

    .button-plain:hover {
        background-color: var(--light-orange);
        color: white;
    }

.active-button-plain {
    background-color: var(--light-orange);
    color: white;
}
.notification {
    /*max-width: 30rem;*/
    width: min(30rem, calc(100vw - 1rem)) !important;
    z-index: 1000 !important;
}
@media(min-width:576px){
    #notificationContainer{
        position: relative;
        top: 1rem !important;
        right: -1rem !important;
    }
}

/*@media(min-width:768px) {
    .notification {
        max-width: 35rem !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}*/

.older-title {
    background-color: lightgray;
}

.orange-dot {
    height: 15px;
    width: 15px;
    background-color: var(--light-orange);
}

.notification-setting-check:checked {
    background-color: var(--light-orange);
    border: none;
}
.clear-all-notification:hover{
    color: var(--light-orange);
}