<div class="modal fade" id="changePasswordModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-grid gap-2 color-darkgray">
                <div>
                    <label for="oldPassword">Old Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="oldPassword"
                               placeholder="Enter old password" />
                        <img src="/images/static/eye.png" alt="eye" class="password-eye cursor-pointer" />
                    </div>
                    <span class="text-danger text-14" id="oldPasswordError"></span>
                </div>
                <div>
                    <label for="newPassword">New Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="newPassword"
                               placeholder="Enter new password" />
                        <img src="/images/static/eye.png" alt="eye" class="password-eye cursor-pointer" />
                    </div>
                    <span class="text-danger text-14" id="newPasswordError"></span>
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="position-relative">
                        <input type="password" class="form-control" id="confirmPassword"
                               placeholder="Enter confirm password" />
                        <img src="/images/static/eye.png" alt="eye" class="password-eye cursor-pointer" />
                    </div>
                    <span class="text-danger text-14" id="confirmPasswordError"></span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-dark px-4" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn button px-4" id="savePasswordBtn">Update Password</button>
            </div>
        </div>
    </div>
</div>
