@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar sticky-top bg-white py-1 border-2 border-bottom">
    <div class="container">
        <div class="d-flex gap-5 align-items-center fw-light">
            <a href="#">
                <img src="~/images/static/logo.png" alt="logo" class="navbar-brand">
            </a>
            <a href="#" class="color-darkgray">Stories</a>
            <div class="dropdown d-none d-md-block">
                <button class="btn color-darkgray dropdown-toggle fw-light" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Policy
                    <img src="~/images/static/drop-down.png" alt="drop-down" class="d-inline ms-2">
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
        <div>
            @if(@HttpContextAccessor.HttpContext!.Session.GetString("Email") != null){
                <div class="dropdown">
                    <button class="btn dropdown-toggle d-flex align-items-center gap-2 color-darkgray fw-light"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src='@HttpContextAccessor.HttpContext.Session.GetString("Avatar")' alt="profile" class="rounded-circle object-fit-cover" width="40px" height="40px">
                    <span class="d-none d-md-inline">@HttpContextAccessor.HttpContext.Session.GetString("FirstName") @HttpContextAccessor.HttpContext.Session.GetString("LastName")</span>
                    <img src="~/images/static/drop-down.png" alt="drop-down">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-md-start">
                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Volunteer TimeSheet</a></li>
                        <li><a asp-controller="User" asp-action="Logout" class="dropdown-item">Logout</a></li>
                    </ul>
                </div>
            }else{
                <a asp-controller="User" asp-action="Login" class="btn button bg-white">Login</a>
            }
        </div>
    </div>
</nav>