@model NotificationSettingVM
<form id="NotificationSettingForm" class="color-darkgray">
    <input hidden asp-for="UserId" />
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="RecommendMission"></label>
        <input type="checkbox" asp-for="RecommendMission" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="RecommendStory"></label>
        <input type="checkbox" asp-for="RecommendStory" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="VolunteeringGoal"></label>
        <input type="checkbox" asp-for="VolunteeringGoal" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="VolunteeringHour"></label>
        <input type="checkbox" asp-for="VolunteeringHour" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="NewMission"></label>
        <input type="checkbox" asp-for="NewMission" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="MyStory"></label>
        <input type="checkbox" asp-for="MyStory" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="Comment"></label>
        <input type="checkbox" asp-for="Comment" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="NewMessage"></label>
        <input type="checkbox" asp-for="NewMessage" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="MissionApplication"></label>
        <input type="checkbox" asp-for="MissionApplication" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="News"></label>
        <input type="checkbox" asp-for="News" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <div class="d-flex justify-content-between pb-1 p-2">
        <label asp-for="Email">Receive notification by email</label>
        <input type="checkbox" asp-for="Email" class="form-check-input notification-setting-check flex-shrink-0">
    </div>
    <hr class="hr">
    <div class="text-center mb-3">
        <button type="submit" class="btn button">Save</button>
        <button type="button" class="btn button cancel-notification-setting">Cancel</button>
    </div>
</form>