@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between mt-2">
    <h3 class="">List of Employees</h3>
    <a asp-controller="Home" asp-action="CreateEmployee" class="btn btn-primary p-2">Create New Employee</a>
</div>
<partial name="_Partial_EmployeeGrid" model="Model" />

<script>
    //data table initiate
    $(document).ready(function () {
        $('#employeeTable').DataTable();
    });
</script>