@model IEnumerable<NTierDemo.Models.ViewModels.EmployeeModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center">
<h3 class="mt-5">List of Employees</h3>
<a asp-controller="Home" asp-action="CreateEmployee" class="btn btn-primary p-2">Add New Employee</a>
</div>
<partial name="_Partial_EmployeeGrid" model="Model" />

<script>
    //data table initiate
    $(document).ready(function () {
        $('#employeeTable').DataTable();
    });
</script>