@model IndexMissionVM
@{
    ViewData["Title"] = "Home Page";
}
<div class="index-body d-grid min-vh-100">
    <header class="border-bottom border-2 bg-white">
        <partial name="_Navbar"></partial>
        <div class="headerFilterSectionContainer">
            <partial name="_HeaderFilterSection"></partial>
        </div>
    </header>
    <main class="container py-4">
        <div class="on-filter-list d-flex flex-wrap gap-1 mb-4"></div>
        <section class="no-mission h3 text-center color-darkgray d-none">No mission found</section>
        
        <section class="index-top d-flex justify-content-between align-items-center mb-4">
            <div class="index-top-title color-darkgray">
                <span class="fw-light">Explore </span><span class="total-missions">@Model.missionVM.Count()</span> missions
            </div>
            <div class="d-flex gap-1 align-items-center">
                <div class="dropdown border rounded me-3">
                    <button class="btn color-darkgray dropdown-toggle fw-light" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >
                        Sort by
                        <img src="~/images/static/drop-down.png" alt="drop-down" class="d-inline ms-1 ms-md-5">
                    </button>
                    <ul class="dropdown-menu" id="sortDropdown">
                        <li class="dropdown-item">Newest</li>
                        <li class="dropdown-item">Oldest</li>
                        <li class="dropdown-item">Highest available seats</li>
                        <li class="dropdown-item">Lowest available seats</li>
                        <li class="dropdown-item">My favourites</li>
                        <li class="dropdown-item">Registration deadline</li>
                    </ul>
                </div>
                <div class="p-1 rounded-circle d-none d-md-block active-index-view cursor-pointer grid-btn">
                    <img src="~/images/static/grid.png" alt="grid-view">
                </div>
                <div class="p-1 rounded-circle d-none d-md-block cursor-pointer list-btn">
                    <img src="~/images/static/list.png" alt="list-view">
                </div>
            </div>
        </section>

        <div id="partialViewContainer">
            <partial name="_IndexMissions"></partial>
        </div>
        <div class="page-btn-container d-flex justify-content-center gap-1 mt-5">
            <button class="btn rounded border border-2"><img src="~/images/static/previous.png" alt="previous"></button>
            <button class="btn rounded border border-2"><img src="~/images/static/left.png" alt="left"></button>
            <button
                class="page-btn btn rounded border border-2 shadow-sm color-darkgray fw-light active-page-btn">1</button>
            <button class="page-btn btn rounded border border-2 shadow-sm color-darkgray fw-light">2</button>
            <button class="page-btn btn rounded border border-2 shadow-sm color-darkgray fw-light">3</button>
            <button class="page-btn btn rounded border border-2 shadow-sm color-darkgray fw-light">4</button>
            <button class="page-btn btn rounded border border-2 shadow-sm color-darkgray fw-light">5</button>
            <button class="btn rounded border border-2"><img src="~/images/static/right-arrow1.png"
                    alt="right"></button>
            <button class="btn rounded border border-2"><img src="~/images/static/next.png" alt="next"></button>
        </div>
    </main>
    <partial name="_Footer"></partial>
</div>

@section Scripts{
    <script src="~/js/index.js"></script>
}
