@{
    ViewData["Title"] = "Reset Password";
}
<main class="d-flex flex-column flex-lg-row">
    <partial name="_HeroSectionCarousel"></partial>
    <section class="right-section d-flex flex-column gap-3 justify-content-center align-items-center p-5 p-lg-5">
            <div class="color-darkgray forgot-password-title">New Password</div>
            <div class="color-darkgray font-light text-14 forgot-password-description text-center">Please enter a new
                password in the fields below.</div>
            <form class="d-grid gap-4 mt-2">
                <div>
                    <label for="password" class="font-light">New Password</label>
                    <input type="password" class="form-control" id="password" value="123asdff">
                </div>
                <div>
                    <label for="confirm-password" class="font-light">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm-password" value="1234asdf">
                </div>
                <button type="submit" class="btn button w-100 rounded-pill">Change Password</button>
            </form>
            <a asp-controller="User" asp-action="Login" class="font-light text-14 color-darkgray">Login</a>
            <a href="#" class="font-light color-darkgray privacy-policy text-14">Privacy Policy</a>
        </section>
</main>