<div class="modal fade" id="goalsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Please input below Volunteering
                                    Goal</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="d-grid gap-3">
                                <div class="modal-body d-grid gap-2 color-darkgray">
                                    <div>
                                        <label asp-for="" class="form-label">Mission</label>
                                        <select asp-for="">
                                            <option selected disabled value="0">Select Mission</option>
                                        </select>
                                        <span class="text-danger text-14"></span>
                                    </div>
                                    <div>
                                        <label asp-for=""></label>
                                        <input type="date" class="form-control" asp-for="" placeholder="Select date">
                                        <span class="text-danger text-14"></span>
                                    </div>
                                    <div>
                                        <label asp-for=""></label>
                                        <input type="text" class="form-control" asp-for="" placeholder="Enter Actions">
                                        <span class="text-danger text-14"></span>
                                    </div>
                                    <div>
                                        <label asp-for=""></label>
                                        <textarea asp-for="" rows="4" placeholder="Enter your Message"></textarea>
                                        <span class="text-danger text-14"></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn button-dark px-4"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn button px-4" id="saveHoursBtn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>