@model CmsPageVM
<form id="CmsForm">
    <div class="border border-2">
        <div class="py-2 px-4 bg-light fs-4 border-bottom border-2">Add CMS Page</div>
        <div class="d-grid gap-3 p-4 color-darkgray">
            <div>
                <label asp-for="Title" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Title">
                <span class="text-14 text-danger" asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Description" class="form-label"></label>
                <textarea id="tiny" asp-for="Description"></textarea>
                <span id="descriptionError" class="text-14 text-danger"></span>
            </div>
            <div>
                <label asp-for="Slug" class="form-label"></label>
                <input type="text" class="form-control" asp-for="Slug">
                <span class="text-14 text-danger" id="slugError" asp-validation-for="Slug"></span>
            </div>
            <div>
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-select">
                    <option selected disabled>Select status</option>
                    <option value="true">Active</option>
                    <option value="false">Not Active</option>
                </select>
                <span class="text-14 text-danger" asp-validation-for="Status"></span>
            </div>
        </div>
    </div>
    <div class="text-end mt-4">
        <button type="button" id="cancelBtn" class="btn button-dark px-4">
            Cancel
        </button>
        <button type="submit" class="btn button px-4">Save</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial"></partial>
