@model List<CmsPageVM>
<div class="border-bottom mb-4">
    <h4 class="border-bottom border-dark width-max-conatent m-0 pb-3 pe-2">CMS Page</h4>
</div>
<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="d-flex align-items-center">
        <img src="/images/static/search.png" alt="search" class="h-50 my-auto me-2">
        <input type="search" id="adminSearch" placeholder="Search" class="form-control">
    </div>
    <button class="btn button d-flex align-items-center" id="addCmsBtn">
        <img src="/images/static/plus.png" alt="plus">
        Add
    </button>
</div>
<div class="table-responsive border">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model?.LongCount() == 0)
            {
                <tr>
                    <td colspan="100%">
                        <div class="text-center">No entries found.</div>
                    </td>
                </tr>
            }
            @foreach (CmsPageVM cms in Model)
            {
                <tr>
                    <td>
                        @cms.Title
                    </td>
                    @if (cms.Status == true)
                    {
                        <td class="text-success">Active</td>
                    }
                    else
                    {
                        <td class="text-danger">Not Active</td>
                    }
                    <td>
                        <img src="/images/static/editing.png"
                         class="cursor-pointer d-inline width-max-conatent me-2" alt="edit"
                         height="20px" width="20px" data-id="@cms.CmsPageId">
                        <img src="/images/static/bin.png" class="cursor-pointer d-inline width-max-conatent"
                         alt="bin" height="20px" width="20px" data-id="@cms.CmsPageId">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagination d-flex justify-content-end gap-1 px-3 mb-5"></div>